<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>HTML Forms Demo</title>
</head>
<body>
    <p>
        Where do you want to eat? Select one city from the "Top 100 US big cities" list<input name="city_name" type="text"/><br/>  
    <p>
        Choose the price level of restaurants. <br/>
        <input type="radio" name="choice" value=1>$<br/>
        <input type="radio" name="choice" value=2>$$<br/>
        <input type="radio" name="choice" value=3>$$$<br/>
        <input type="radio" name="choice" value=4>$$$$<br/>
    </p>

</body>
</html>